@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu2:wght@700&display=swap');

:root {
  --lightgold: rgb(232, 176, 31);
  --black: rgb(30, 24, 32);
  --darkgold: rgb(143, 103, 8);
  --gray: rgb(182, 182, 182);
  --darkgray: rgb(146, 146, 146);
  --ubuntu: 'Ubuntu', sans-serif;
  --robotic: 'Zen Dots', cursive;
  --extradarkgray: rgb(45, 47, 53);
}

.header-navbar {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black);
  color: var(--lightgold);
}
.brand-title img {
  width: 60px;
  margin-left: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.navbar-links li {
  list-style: none;
  padding: 0px 25px;
  display: block;
  position: relative;
}
.navbar-links li a {
  text-decoration: none;
  color: var(--lightgold);
  font-family: var(--robotic);
  font-size: 16px;
}
.navbar-links ul li::after {
  content: '';
  width: 0%;
  height: 3px;
  border-radius: 1px;
  background-color: var(--lightgold);
  display: block;
  margin: auto;
  transition: all 0.5s ease-out 0s;
}
.navbar-links ul li:hover::after {
  width: 100%;
}
.join-us-button {
  display: flex;
  margin-right: 50px;
}
.join-us-button button {
  border: none;
  background-color: var(--lightgold);
  color: var(--black);
  padding: 8px 25px;
  font-family: var(--robotic);
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.join-us-button button:hover {
  background-color: var(--darkgold);
  color: white;
}
.toggle-button {
  position: absolute;
  top: 35px;
  right: 50px;
  display: none;
  flex-direction: column;
  color: var(--lightgold);
  font-size: 30px;
  text-decoration: none;
}
@media (max-width: 700px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 25px;
  }
  .toggle-button {
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  .navbar-links ul li {
    text-align: center;
    padding-bottom: 25px;
  }
  .navbar-links ul li a {
    padding: 25px 25px;
  }
  .navbar-links.active {
    display: flex;
  }
  .join-us-button {
    display: none;
  }
}